{% load staticfiles %}

{% if user and user.is_superuser %}
    <link href="{% static "djazz/css/static_info.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "djazz/css/tingle.min.css" %}" rel="stylesheet" type="text/css"/>

    {% if include_jquery %}
        <script src="{% static "djazz/js/jquery-3.3.1.min.js" %}"></script>
    {% endif %}

    <script>
        var endpointUrl = '{% url "si_update" %}';
    </script>
    <script src="{% static "djazz/js/tingle.min.js" %}"></script>
    <script src="{% static "djazz/js/static_info.js" %}"></script>
{% endif %}